body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #053957;
    border: none;
    box-shadow: 0 6px 12px #dadada;
}

.nav-font, .navbar-right, .navbar-nav {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.my-footer-container {
    height: 2rem;
}

#scroll-to-top {
    display: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 25px;
}

#scroll-to-top:hover {
    background-color: #085a8a;
    background-repeat:initial;
}

.white-link {
    color: white !important;
}

.white-link:hover {
    text-shadow: 3px 3px 4px #dadada;
}

.uppercase {
    text-transform: uppercase;
}

.button-15 {
    /*    background-image: linear-gradient(#42A1EC, #0070C9); */
    background-color: #053957;
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}