<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MedApp</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="all" href="~/wwwroot/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br />
    <div class="container">
        <h1 class="text-center mb-3">Dashboard</h1>
        <br />
        <div class="col-md-3 panel panel-default c1" style="background-color: #d5d3f2;">
            <div class="text-center">
                <br />
                <a href="/Patient/Index" class="button-15">All patients &#8594;</a>
            </div>
            <div>
                @foreach (DemoM.Models.Patient patient in ViewBag.Patients)
                {
                    <div class="font-poppins">
                        @Html.Partial("ListPatients", patient)
                    </div>
                }
                <br />
            </div>
        </div>

        <div class="col-md-6 panel panel-default c1" style="background-color: #c8b8f2; ">
            <div class="text-center">
                <br />
                <a href="/Appointment/Index" class="button-15">All appointments &#8594;</a>
            </div>
            <div>
                @foreach (DemoM.Models.Appointment app in ViewBag.Appointments)
                {
                    <div class="font-poppins">
                        @Html.Partial("ListAppointments", app)
                    </div>
                }
                <br />
            </div>

        </div>

        <div class="col-md-3 panel panel-default c1" style="background-color: #d5d3f2;">
            <div class="text-center">
                <br />
                <a href="/Doctor/Index" class="button-15">All doctors &#8594;</a>
            </div>
            <div>
                @foreach (DemoM.Models.Doctor doctor in ViewBag.Doctors)
                {
                    <div class="font-poppins">
                        @Html.Partial("ListDoctors", doctor)
                    </div>
                }
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img src="~/StaticFiles/medicine.png" alt="Take care" width="400" height="300" style="margin-left: 50%;">
        </div>
    </div>
    <br />
</body>
</html>