@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MedApp</h1>
    <p class="lead">MedApp is a web application useful for medical appointments management.</p>
    <p><a href="" class="btn btn-primary btn-lg">See appointments</a></p>
</div>