@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MedApp</h1>
    <p class="lead">MedApp is a web application useful for medical appointments management.</p>
    <p>
        <a href="/Appointment/Index" class="btn btn-primary btn-lg">See appointments</a>
        <a href="/Patient/Index" class="btn btn-primary btn-lg">See patients</a>
        <a href="/Doctor/Index" class="btn btn-primary btn-lg">See doctors</a>
    </p>

    <div class="col-sm-5 col-height">
        <img src="../Content/Images/medicine.png" alt="Working Team" width="300" height="200" style="margin-top: 4rem;">
    </div>
</div>