@{
    ViewBag.Title = "Dashboard";
}
<br />
<div class="container">
    <h1 class="text-center bg-light mb-3">Dashboard</h1> 
    <br />
    <div class="col-md-3 panel panel-default overflow-auto">
        <div class="text-center">
            <br />
            <a href="/Patient/Index" class="button-15">All patients &#8594;</a>
        </div>
        <div>
            @foreach (Demo.Models.Patient patient in ViewBag.Patients)
            {
                <div class="font-poppins">
                    @Html.Partial("ListPatients", patient)
                </div>
            }
            <br />
        </div>
    </div>

    <div class="col-md-6 panel panel-default">
        <div class="text-center">
            <br />
            <a href="/Appointment/Index" class="button-15">All appointments &#8594;</a>
        </div>
        <div>
            @foreach (Demo.Models.Appointment app in ViewBag.Appointments)
            {
                <div class="font-poppins">
                    @Html.Partial("ListAppointments", app)
                </div>
            }
        </div>

    </div>

    <div class="col-md-3 panel panel-default">
        <div class="text-center">
            <br />
            <a href="/Doctor/Index" class="button-15">All doctors &#8594;</a>
        </div>
        <div>
            @foreach (Demo.Models.Doctor doctor in ViewBag.Doctors)
            {
                <div class="font-poppins">
                    @Html.Partial("ListDoctors", doctor)
                </div>
            }
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-8 offset-md-2">
        <img src="../Content/Images/medicine.png" alt="Take care" width="400" height="300" style="margin-left: 50%;">
    </div>
</div>

<br />